@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css';

.product-info,
.product-image {
    display: inline-block;
}

input {
    display: block;
}

img {
    width: 150px;
}

.hidden {
    display: none;
}
